<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>管理员</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<style>
  .dropbox {
      border: .25rem dashed #007bff;
      min-height: 5rem;
  }
</style>

<body>

   <div id="manager">
     <mnav :s=manager></mnav>
     <router-view></router-view>
     <mfooter></mfooter>
   </div>

  <script>
    
    //导航栏组件
    Vue.component('mnav',{
      props: ["s"],
      template: ` <div id="administrator">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
      <img src="images/student/logo.png" class="img-rounded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/main">首页</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/student">学生信息管理</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/teacher">教师信息管理</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/studentr">学生注册</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/teacherr">教师注册</router-link>
          </li>
        </ul>
        <a class="text-dark " href="/">管理员:{{s.mana_id}}，退出</a>
      </div>
    </nav>
  </div>`
    })

    //底部组件
    Vue.component('mfooter',{
      template:`
      <div class="container mt-4 ">
			<footer class="pt-4 mt-md-5 pt-md-5 border-top">
				<div class="row">
					<div class="col-12 col-md">
						<img class="mb-2" src="images/student/code.png" alt="">
						<small class="d-block mb-3 text-muted">&copy; 中南林科大新闻网</small>
					</div>
					<div class="col-6 col-md">
						<ul class="list-unstyled text-small">
							<li><a class="text-muted">地址：湖南省长沙市韶山南路498号</a></li>
							<li><a class="text-muted"> 邮编：410004</a></li>
							<li><a class="text-muted">电话：0731-85623096</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<ul class="list-unstyled text-small">
							<li><a class="text-muted">中南林业科技大学教务处版权所有</a></li>
							<li><a class="text-muted">湘ICP备09017705号</a></li>
							<li><a class="text-muted">湘教Q4_201212_010022</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<ul class="list-unstyled text-small">
							<li><a class="text-muted"
								href="http://www.hep.com.cn/service/xuanshu">高教出版社产品信息检索</a></li>
							<li><a class="text-muted" href="http://www.moe.edu.cn/">国家教育部</a></li>
							<li><a class="text-muted" href="http://www.csuft.edu.cn">中南林业科技大学</a></li>
							<li><a class="text-muted" href="http://zjc.csuft.edu.cn/f">中南林业科技大学招生网</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>
      `
    })

    //学生信息管理组件
    let student = Vue.component('student', {

      data:function(){
        return{
          s:{},
          stu_id:null,
          stu_name:null,
					stu_col:null,
					stu_majo:null,
          stu_clas:null,
					stu_addr:null,
					stu_phone:null,
          stu_email:null,
        }
      },

      methods:{

        updateStudent(){
          axios
          .post('/manager/alters',{"stu_id":this.stu_id,"stu_name":this.stu_name,"col_name":this.col_name,"majo_name":this.majo_name,
          "stu_addr":this.stu_addr,"stu_phone":this.stu_phone,"stu_email":this.stu_email})
          .then((r) => window.location.href="/administrator.html#/student")
          .catch((r)=>console.log("输入成功"));
        },

        findStudent(){
          axios
          .post('/manager/selects',{"stu_id":this.stu_id})
          .then((r) => {this.s=r.data})
          .then((r)=>console.log(stu_id))
          .catch((r)=>window.location.href="/administrator.html#/student")
          ;
        },

        edit(s){
          this.stu_id=s.stu_id,
          this.stu_name=s.stu_name,
					this.stu_col=s.stu_col,
					this.stu_majo=s.stu_majo,
          this.stu_clas=s.stuclas,
					this.stu_addr=s.stu_addr,
					this.stu_phone=s.stu_phone,
          this.stu_email=s.stu_email
        }
        

      },

      template: ` <div class="container mt-4">
      <div class="row">
      <div class="col-2">
      <img class="d-block w-100 mt-5" :src="s.stu_pic" alt="First slide">
	  </div>
      <div class="col-8">
        <ul>
          <li class="list-group-item ">学号：<input class="text " v-model="stu_id"><button type="button" class="btn btn-primary ml-5" @click="findStudent">查找</button></li>
          <li class="list-group-item ">姓名：{{s.stu_name}}</li>
          <li class="list-group-item ">学院：{{s.stu_col}}	</li>
          <li class="list-group-item ">专业：{{s.stu_majo}}</li>
          <li class="list-group-item ">班级：{{s.stu_clas}}</li>
          <li class="list-group-item ">籍贯：{{s.stu_addr}}</li>
          <li class="list-group-item ">电话：{{s.stu_phone}}</li>
          <li class="list-group-item ">邮箱：{{s.stu_email}}</li>
        </ul>
        </div>
        </div>
        <div class="row">
        <div class="col-4 offset-5 ">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#exampleModal" @click="edit(s)">
          修改信息
        </button>
        <button type="button" class="btn btn-primary ml-5" >
          删除信息
        </button>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              <div class="form-group">
              <label for="exampleInputPassword1">姓名</label>
              <input type="text" class="form-control"  v-model="stu_name">
            </div>
              <div class="form-group">
                <label for="exampleInputPassword1">学院</label>
                <input type="text" class="form-control"   v-model="stu_col">
              </div>
              <div class="form-group">
              <label for="exampleInputPassword1">专业</label>
              <input type="text" class="form-control"   v-model="stu_majo">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">班级</label>
              <input type="text" class="form-control"   v-model="stu_clas">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">籍贯</label>
              <input type="text" class="form-control"   v-model="stu_addr">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">电话</label>
              <input type="text" class="form-control"   v-model="stu_phone">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">邮箱</label>
              <input type="text" class="form-control"   v-model="stu_email">
            </div>
              
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
               @click="updateStudent()">提交</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      `})

      

    //教师信息管理组件
    let teacher = Vue.component('teacher', {

      data:function(){
        return{
          s:{},
          teac_id:null,
          teac_name:null,
					col_name:null,
					teac_title:null,
          teac_time:null,
					teac_addr:null,
					teac_phone:null,
          teac_email:null,
        }
      },

      methods:{

updateTeacher(){
  axios
  .post('/manager/altert',{"teac_name":this.teac_name,"col_name":this.col_name,"teac_title":this.teac_title,
  "teac_addr":this.teac_addr,"teac_phone":this.teac_phone,"teac_email":this.teac_email,"teac_time":this.teac_time})
  .then((r) => window.location.href="/administrator.html#/teacher")
  .catch((r)=>console.log("输入成功"));
},

findTeacher(){
  axios
  .post('/manager/selectt',{"teac_id":this.teac_id})
  .then((r) => {this.s=r.data})
  .then((r)=>console.log(stu_id))
  .catch((r)=>window.location.href="/administrator.html#/teacher")
  ;
},

edit(s){
  this.teac_id=s.teac_id,
  this.teac_name=s.teac_name,
  this.col_name=s.col_name,
  this.teac_title=s.teac_title,
  this.teac_time=s.teac_time
  this.teac_addr=s.teac_addr,
  this.teac_phone=s.teac_phone,
  this.teac_email=s.teac_email
}


},

      template: `
      <div class="container mt-4">
      <div class="row">
      <div class="col-2">
      <img class="d-block w-100 mt-5" :src="s.teac_pic" alt="First slide">
	  </div>
      <div class="col-8">
        <ul>
          <li class="list-group-item ">工号：<input class="text " v-model="teac_id"><button type="button" class="btn btn-primary ml-5" @click="findTeacher">查找</buton></li>
          <li class="list-group-item ">姓名：{{s.teac_name}}</li>
          <li class="list-group-item ">学院：{{s.col_name}}	</li>
          <li class="list-group-item ">职位：{{s.teac_title}}</li>
          <li class="list-group-item ">入职时间：{{s.teac_time}}</li>
          <li class="list-group-item ">籍贯：{{s.teac_addr}}</li>
          <li class="list-group-item ">电话：{{s.teac_phone}}</li>
          <li class="list-group-item ">邮箱：{{s.teac_email}}</li>
        </ul>
        </div>
        </div>
        <div class="row">
        <div class="col-4 offset-5 ">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#exampleModal" @click="edit(s)">
          修改信息
        </button>
        <button type="button" class="btn btn-primary ml-5" >
          删除信息
        </button>
        </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">修改信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              <div class="form-group">
              <label for="exampleInputPassword1">姓名</label>
              <input type="text" class="form-control" placeholder="姓名" v-model="teac_name">
            </div>
              <div class="form-group">
                <label for="exampleInputPassword1">学院</label>
                <input type="text" class="form-control"  placeholder="学院" v-model="col_name">
              </div>
              <div class="form-group">
              <label for="exampleInputPassword1">职位</label>
              <input type="text" class="form-control"  placeholder="职位" v-model="teac_title">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">入职时间</label>
              <input type="text" class="form-control"  placeholder="入职时间" v-model="teac_time">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">籍贯</label>
              <input type="text" class="form-control"  placeholder="籍贯" v-model="teac_addr">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">电话</label>
              <input type="text" class="form-control"  placeholder="电话" v-model="teac_phone">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">邮箱</label>
              <input type="text" class="form-control"  placeholder="邮箱" v-model="teac_email">
            </div>
              
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="updateTeacher">关闭</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      `})

      //首页组件
	  let firstpage = Vue.component("main", {
			template: `
		<div>
    	  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    	  <ol class="carousel-indicators">
    	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    	  </ol>
    	  <div class="carousel-inner">
    	    <div class="carousel-item active">
    	      <img class="d-block w-100" src="images/student/main1.png" alt="First slide">
    	    </div>
    	    <div class="carousel-item">
    	      <img class="d-block w-100" src="images/student/main2.png" alt="Second slide">
    	    </div>
    	    <div class="carousel-item">
    	      <img class="d-block w-100" src="images/student/main3.png" alt="Third slide">
    	    </div>
    	  </div>
    	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    	    <span class="sr-only">Previous</span>
    	  </a>
    	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    	    <span class="sr-only">Next</span>
    	  </a>
      </div>
 <div class="container mt-4">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/student/main4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">我校学子在第九届服务外包创新创业大赛中荣获团体二、三等奖</h5>
      <p class="card-text">六月的中南林科大艳阳高照，清风习习，绿树成荫。在计算机与信息工程学院黄洪旭、谭云等老师的组织下，由计算机与信息工程学院、林学院、班戈学院等多个学院学生组成的5支参赛队伍，首次参加第九届中国大学生服务外包创新创业大赛，就荣获团体二等奖和三等奖各一项。</p>
      <a href="#" class="btn btn-primary">详细信息</a>
    </div>
  </div>
    </div>
    <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/student/main5.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">学校召开本科教学工作例会</h5>
      <p class="card-text">7月16日下午，本科教学工作例会在崇德楼（行政楼）四楼3会议室召开，副校长朱道弘主持会议，教务处班子成员，各学院教学副院长及部分教务办主任与会。副校长朱道弘在会上强调了本科教学工作的重要性，肯定了本学期各学院在本科教学工作方面的付出与成绩。对全国本科教学工作大会精神的学习与贯彻进行了深入动员，要求各学院领导班子要带头读懂悟透。</p>
      <a href="#" class="btn btn-primary">详细信息</a>
    </div>
  </div>
    </div>
    <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/student/main6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">教务处党支部获评为学校2017-2018年度先进党支部</h5>
      <p class="card-text">学校纪念建党97年暨“七一”表彰大会于6月29日上午在雅韵楼召开,教务处党支部获评为学校2017-2018年度先进党支部。2017-2018年度，教务处支部在学校党委和机关二党委正确领导下，高度重视党建工作，充分发挥党员模范带头作用，全处同志坚持理论学习，狠抓作风建设，牢固树立服务意识，攻坚克难，奋力前行。</p>
      <a href="#" class="btn btn-primary">详细信息</a>
    </div>
  </div>
    </div>
    </div>
  </div>
</div> <!-- /container -->
</div>
    `});

    //学生注册
    let studentr = Vue.component('studentr', {
      data:function(){
        return{
          s:{},
          stu_id:null,
          stu_name:null,
					majo_name:null,
          majo_id:null,
          clas_name:null,
          clas_id:null,
					stu_addr:null,
					stu_phone:null,
          stu_email:null,
          files:[],
          src:'',
          classes:[],
          majors:[],
          stu_sex:null,
          filename:''
        }
      },

      mounted: function () {
            var dropbox = document.querySelector('.dropbox');
            dropbox.addEventListener('dragenter', this.onDrag, false);
            dropbox.addEventListener('dragover', this.onDrag, false);
            dropbox.addEventListener('drop', this.onDrop, false);

            {axios
             .post('/manager/clazz')
             .then((response) => {this.classes=response.data})
             .catch((r)=>console.log("学生数据传入成功"));}

             {axios
             .post('/manager/major')
             .then((response) => {this.majors=response.data})
             .catch((r)=>console.log("班级数据传入成功"));}
        

        
        },

      methods:{
        insert(){
          console.log(this.files[0]);
        let formData = new FormData();
        formData.append("file", this.files[0]);
//         　let xhr = new XMLHttpRequest();

// 　　// 假设上传文件的接口叫upload

// 　　      xhr.open("POST", "/manager/load");

// 　　      xhr.send(formData);

   

        axios.post('/manager/load', formData)
          .then(function (response) {
            alert(response.data);

            window.location.reload();
          })
          .catch(function (error) {
            // alert("上传失败");
            console.log(error);
            //window.location.reload();
          }); 

  
       axios
       .post('/manager/registers',{"stu_id":this.stu_id,"stu_name":this.stu_name,"stu_majo":this.majo_name,
       "stu_clas":this.clas_name,"stu_addr":this.stu_addr,"stu_phone":this.stu_phone,"stu_email":this.stu_email,"stu_sex":this.stu_sex,"stu_pic":this.filename})
       .then((r) => window.location.href="/administrator.html#/studentr")
       .catch((r)=>console.log("输入成功"));
       },

           uploadFile: function (file) {
                var item = {
                    name: file.name,
                    uploadPercentage: 0
                };
                this.filename=file.name;
                this.files.push(file);
                //console.log(this.files[0]);
                var fd = new FormData();
                fd.append('myFile', file);
                // this.src="C:/Users/liulei/Desktop/11.jpg";

                 
               if (file) {
                var reader = new FileReader();
                var this2=this;
                reader.readAsDataURL(file);  
                    reader.onload = function (e) {
                    this2.src = e.target.result;//将图片base64字符串赋值给img的src
                    //console.log(e.target.result);
                   };
                   
                }
                

                var xhr = new XMLHttpRequest();
                //xhr.open('POST', 'upload.php', true);
                xhr.upload.addEventListener('progress', function (e) {
                    item.uploadPercentage = Math.round((e.loaded * 100) / e.total);
                }, false);
               //xhr.send(fd);
            },
            onDrag: function (e) {
                e.stopPropagation();
                e.preventDefault();
            },
            onDrop: function (e) {
                e.stopPropagation();
                e.preventDefault();
                var dt = e.dataTransfer;
                for (var i = 0; i !== dt.files.length; i++) {
                    this.uploadFile(dt.files[i]);
                }
            }
      },

      template: ` <div class="container mt-4">
      <div class="row m-5" >
      <div class="col-4" >
        <div class="dropbox p-3">
        <h2 v-if="files.length===0" class="text-center">把要上传的文件拖动到这里</h2>
        <!-- <input type="file" id="file" />  
        <input type="button" value="读取图像" onclick="readAsDataURL()" />   -->
        <div class="border m-2 d-inline-block p-4" style="width:15rem" v-for="file in files">
            <img :src="src" class="img-fluid d-block w-100 mt-5" alt="">
            <div class="progress">
                <div class="progress-bar progress-bar-striped"
                     :style="{ width: file.uploadPercentage+'%' }"></div>
            </div>
        </div>
    </div>
	  </div>
      <div class="col-8">
        <ul>
          <li class="list-group-item ">学号：<input class="text form-control" v-model="stu_id"></li>
          <li class="list-group-item ">姓名：<input class="text form-control" v-model="stu_name"></li>
          <li class="list-group-item ">性别<select class="form-control" name="" v-model="stu_sex">
                    <option >男</option>
                    <option >女</option>
                    </li>
          <li class="list-group-item ">专业：<select class="form-control" name="" v-model="majo_name">
                    <option v-for="c in majors">{{c.majo_id}}({{c.majo_name}})</option>
                    </li>
          <li class="list-group-item ">班级：<select class="form-control" name="" v-model="clas_name">
                    <option v-for="c in classes">{{c.clas_id}}({{c.clas_name}})</option>
                    </li>
          <li class="list-group-item ">籍贯：<input class="text form-control" v-model="stu_addr"></li>
          <li class="list-group-item ">电话：<input class="text form-control" v-model="stu_phone"></li>
          <li class="list-group-item ">邮箱：<input class="text form-control" v-model="stu_email"></li>
        </ul>
        </div>
        </div>
        <div class="row">
        <div class="col-4 offset-5 ">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary ml-5" @click="insert">
          注册
        </button>
        </div>
        </div>
      </div>
      `})

    //老师注册
    let teacherr = Vue.component('teacherr', {
      data:function(){
        return{
          s:{},
          teac_id:null,
          teac_name:null,
					col_name:null,
          col_id:null,
					teac_title:null,
          teac_time:null,
					teac_addr:null,
					teac_phone:null,
          teac_email:null,
          files:[],
          src:'',
          colleges:[],
          teac_sex:null,
          filename:''
        }
      },

       mounted: function () {
            var dropbox = document.querySelector('.dropbox');
            dropbox.addEventListener('dragenter', this.onDrag, false);
            dropbox.addEventListener('dragover', this.onDrag, false);
            dropbox.addEventListener('drop', this.onDrop, false);

            {axios
             .post('/manager/college')
             .then((response) => {this.colleges=response.data})
             .catch((r)=>console.log("班级数据传入成功"));}
        },

      methods:{
        insert(){
        axios
        .post('/manager/registert',{"teac_id":this.teac_id,"teac_name":this.teac_name,"col_name":this.col_name,"teac_title":this.teac_title,
        "teac_addr":this.teac_addr,"teac_phone":this.teac_phone,"teac_email":this.teac_email,"teac_time":this.teac_time,"teac_sex":this.teac_sex,"teac_pic":this.filename})
        .then((r) => {window.location.href="/administrator.html#/teacherr"})
        .catch((r)=>console.log("输入成功"));
       },

       uploadFile: function (file) {
                var item = {
                    name: file.name,
                    uploadPercentage: 0
                };
                this.filename=file.name;
                this.files.push(file);
                var fd = new FormData();
                fd.append('myFile', file);
                // this.src="C:/Users/liulei/Desktop/11.jpg";

                 
               if (file) {
                var reader = new FileReader();
                var this2=this;
                reader.readAsDataURL(file);  
                    reader.onload = function (e) {
                    this2.src = e.target.result;//将图片base64字符串赋值给img的src
                    console.log(e.target.result);
                   };
                   
                }
                

                var xhr = new XMLHttpRequest();
                //xhr.open('POST', 'upload.php', true);
                xhr.upload.addEventListener('progress', function (e) {
                    item.uploadPercentage = Math.round((e.loaded * 100) / e.total);
                }, false);
               //xhr.send(fd);
            },
            onDrag: function (e) {
                e.stopPropagation();
                e.preventDefault();
            },
            onDrop: function (e) {
                e.stopPropagation();
                e.preventDefault();
                var dt = e.dataTransfer;
                for (var i = 0; i !== dt.files.length; i++) {
                    this.uploadFile(dt.files[i]);
                }
            }
      },
      template: ` <div class="container mt-4">
      <div class="row">
        <div class="col-4" >
        <div class="dropbox p-3">
        <h2 v-if="files.length===0" class="text-center">把要上传的文件拖动到这里</h2>
        <!-- <input type="file" id="file" />  
        <input type="button" value="读取图像" onclick="readAsDataURL()" />   -->
        <div class="border m-2 d-inline-block p-4" style="width:15rem" v-for="file in files">
            <img :src="src" class="img-fluid d-block w-100 mt-5" alt="">
            <div class="progress">
                <div class="progress-bar progress-bar-striped"
                     :style="{ width: file.uploadPercentage+'%' }"></div>
            </div>
        </div>
    </div>
	  </div>
      <div class="col-8">
        <ul>
          <li class="list-group-item ">工号：<input class="text form-control" v-model="teac_id"></li>
          <li class="list-group-item ">姓名：<input class="text form-control" v-model="teac_name"></li>
          <li class="list-group-item ">性别<select class="form-control" name="" v-model="teac_sex">
                    <option >男</option>
                    <option >女</option>
                    </li>
          <li class="list-group-item ">学院：<select class="form-control" name="" v-model="col_name">
                    <option v-for="c in colleges">{{c.col_id}}({{c.col_name}})</option>	</li>
          <li class="list-group-item ">职位：<input class="text form-control" v-model="teac_title"></li>
          <li class="list-group-item ">入职时间：<input class="text form-control" v-model="teac_time"></li>
          <li class="list-group-item ">籍贯：<input class="text form-control" v-model="teac_addr"></li>
          <li class="list-group-item ">电话：<input class="text form-control" v-model="teac_phone"></li>
          <li class="list-group-item ">邮箱：<input class="text form-control" v-model="teac_email"></li>
        </ul>
        </div>
        </div>
        <div class="row">
        <div class="col-4 offset-5 ">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary ml-5" @click="insert">
          注册
        </button>
        </div>
        </div>
      </div>
      `});

    const routes = [
      { path: '/student', component: student },
      { path: '/teacher', component: teacher },
      { path: '/studentr', component: studentr },
      { path: '/teacherr', component: teacherr },
      { path: '/main', component: firstpage }
    ];

    const router = new VueRouter({
      routes
    })

    const app = new Vue({
      el: '#manager',
      router
    })

  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>