<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>教师</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script>
  <!--网络通信的函数库-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <div id="teacher">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <p class="navbar-brand">教务管理中心</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/personinfo">个人信息</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/score">成绩录入</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/timetables">教师课表</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link text-info" to="/restydyinfo">重修学生信息</router-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
  <script>
    //首页组件
    let firstpage = Vue.component("main", {
      data:function(){
    	  return{
    		  noticeData:[],
    	  }
      },
      mounted(){
    	  axios.get("/teacher/v1/notice")
    	  .then((req) => {
    		  this.noticeData = req.data;
    	  })
      },
      template: `
<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="jumbotron">
  <div class="container">
    <h5 class="display-3">welcome username！</h5>
    <p>教务处（质控中心、考试中心）是在校长和分管教学副校长领导下，负责全校全日制本、专科教学工作的职能部门。</p>
    <p><a class="btn btn-primary btn-lg" href="http://jwc.csuft.edu.cn/bmgk_2552/gzzz/201709/t20170927_65829.html" role="button">Learn more &raquo;</a></p>
  </div>
</div> -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="/images/teacher/教务.jpg?auto=yes&bg=777&fg=555&text=First slide" alt="First slide" height=160>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="/images/teacher/教务2.jpg?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide" height=160>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="/images/teacher/教务3.jpg?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide"height=160>
  </div>
</div>
</div>
<br><br><br>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>图片新闻</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>动态新闻</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>通知公告</h2>
	  <table class="table">
	  	<tr v-for="d in noticeData">
	  		<p>{{d.title}}</p>
	  		<hr style=" height:2px;border:none;border-top:2px dotted #185598;" />
	  	</tr>
	  	<tr>
	  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
			View details &raquo;
		</button>
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">详情</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" v-for="da in noticeData">
		        {{da.content}}
		        <hr>
		        <p>编辑作者：{{da.editor}}</p>
		        <p>编辑时间：{{da.time}}</p>
		        <hr style="height:3px;border:none;border-top:1px dashed #0066CC;" />
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save</button>
		      </div> -->
		    </div>
		  </div>
		</div>
	  	</tr>
	  </table>
    </div>
  </div>
  <hr>

</div> <!-- /container -->


</main>
    `})
    //个人信息组件
    let personinfo = Vue.component('information', {
      data:function(){
    	  return{
    		  teacher:{},
    	  }
    	  
      },
      mounted:function(){
    	  axios.get("/teacher/v1/findOne")
    	  .then((req) => {
    		  this.teacher=req.data;
    	  })
      },
      template:`
    	  <div class="container mt-4">
          <div class="row">
          <div class="col-2">
          <img class="d-block w-100 mt-5" :src="teacher.pic" alt="First slide">
    	  </div>
      <div class="col-8">
        <ul>
          <li class="list-group-item list-group-item-info">工号：{{teacher.id}}</li>
          <li class="list-group-item list-group-item-light">姓名：{{teacher.name}}</li>
          <li class="list-group-item list-group-item-info">性别：{{teacher.sex}}</li>
          <li class="list-group-item list-group-item-light">学院：{{teacher.col.name}}</li>
          <li class="list-group-item list-group-item-info">籍贯：{{teacher.address}}</li>
          <li class="list-group-item list-group-item-light">电话：{{teacher.phone}}</li>
          <li class="list-group-item list-group-item-info">邮箱：{{teacher.email}}</li>
          <li class="list-group-item list-group-item-light">职称：{{teacher.title}}</li>
          <li class="list-group-item list-group-item-info">入职时间：{{teacher.time}}</li>
        </ul>
      </div>
      </div>
      </div>
    `})
    //教师课表组件
    let timetables = Vue.component('timetables', {
      data:function(){
    	  return{
    		  tables:[],
    		  flag:false,
    		  grade:[],
    		  major:[],
    		  value1:'2015',
    		  value2:1,
    		  value3:'软件工程',
    	  }
      },
      methods:{
    	  findTable:function(){
    		  this.flag=true;
    		  axios.post("teacher/v1/teacTable",{
    				  gradeNum:this.value1,
    				  term:this.value2,
    				  major:this.value3,
    		  })
    	      .then((re) => {
    	    	  this.tables=re.data;
    	    	  console.log(this.tables);
    	      })
    	  },
    	  updateFlag:function(){
    		  window.location.reload();
    	  }
      },
      mounted(){
    	  axios.get("teacher/v1/findGradeNum")
    	  .then((re) => {
    		  this.grade=re.data;
    	  });
    	  axios.get("teacher/v1/findMajorName")
    	  .then((re) => {
    		  this.major=re.data;
    	  })
      },
      template: `
      <div class="container">
      	<div class="row">
      		<div class="col-lg-10">
      		<br><br>
      		<div v-if="flag">
      		<table class="table table-striped" style="margin-left:80px">
      	  	<thead class="thead-dark">
      	    <tr>
      	      <th scope="col">年级</th>
      	      <th scope="col">学期</th>
      	      <th scope="col">周数</th>
      	      <th scope="col">时间（星期几 第几节）</th>
      	      <th scope="col">地点</th>
    	      <th scope="col">课程</th>
      	    </tr>
      	  </thead>
      	  <tbody>
      	    <tr v-for="t in tables">
      	      <th scope="row">{{t.gradeNum}}</th>
      	      <td>{{t.term}}</td>
      	      <td>第{{t.week}}周</td>
      	      <td>星期{{t.day}},{{t.part}}节</td>
      	      <td>{{t.address}}</td>
    	      <td>{{t.lesson}}</td>
      	    </tr>
      	  </tbody>
      	</table>
      	<button class="btn btn-outline-primary" v-on:click="updateFlag" style="margin-left:810px">重新查询</button>
      	</div>
      	
      	<div class="col-lg-6" style="margin-left:200px" v-if="!flag">
      <div class="input-group mb-1">
        <select class="custom-select" id="inputGroupSelect01" v-model="value1">
          <option v-for="d in grade">{{d}}</option>
        </select>   
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect01">请选择年级</label>
        </div>
      </div>

      <div class="input-group mb-1">
      <div class="input-group-append">
      <label class="input-group-text" for="inputGroupSelect02">请选择学期</label>
      </div>
        <select class="custom-select" id="inputGroupSelect02" aria-label="Example select with button addon" v-model="value2">
          <option v-for="n in 8">{{n}}</option>
        </select>
      </div>

      <div class="input-group mb-1">
        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon" v-model="value3">
          <option v-for="m in major">{{m}}</option>
        </select>
        <div class="input-group-append">
        <label class="input-group-text" for="inputGroupSelect03">请选择专业</label>
        </div>
      </div>
      <div class="input-group">
		<button type="button" class="btn btn-outline-primary btn-lg btn-block" v-on:click="findTable">确认</button>
	 </div>
      	</div>
      	 
      	
      	
      		</div>
      	</div>    
 
      </div>
   `})
    //成绩录入组件
    let score = Vue.component('score', {
      data:function(){
    	  return{
    		  stuId:'',
    		  teaId:'',
    		  score:'',
    		  point:'',
    		  judge:''
    	  }
      },
      methods:{
    	  writeScore:function(stuId,teaId,score,point,judge){
    		  axios.post("/teacher/v1/score1",{
        		  "stuId":parseInt(stuId),
        		  "teaId":parseInt(teaId),
        		  "score":parseInt(score),
        		  "point":parseInt(point),
        		  "judge":this.judge
        	  })
        	  .then((req) => {
        		  console.log(req.data);
        		  window.alert(req.data);
        		  this.stuId=undefined;
        		  this.teaId=undefined;
        		  this.score=undefined;
        		  this.point=undefined;
        		  this.judge=undefined;
        	  })
    	  }
      },
      template: `
         <div>
      	  <br><br>
    	  <p>
    	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExampleTest" aria-expanded="false" aria-controls="collapseExample">
    	           上传成绩
    	  </button>
    	</p>
    	<div class="collapse" id="collapseExampleTest">
    	  <div class="card card-body">
    	  <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  	输入学生学号
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                	<input type="text" class="form-control" v-model="stuId"></input>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 	 输入科目编号
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
          		<input type="text" class="form-control" v-model="teaId"></input>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  	输入成绩
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
          		<input type="text" class="form-control" v-model="score"></input>
              </div>
            </div>
          </div>
          <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                	输入绩点
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
        		<input type="text" class="form-control" v-model="point"></input>
            </div>
          </div>
        </div>
        <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              	科目是否过60分
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
      		<input type="text" class="form-control" v-model="judge"></input>
          </div>
        </div>
      </div>
      <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
        <button type="button" class="btn btn-outline-primary btn-lg" v-on:click="writeScore(stuId,teaId,score,point,judge)">提交</button> 
       
        </h5>
      </div>
    </div>
        </div>
    	  </div>
    	</div>
         </div>
         
      `})
    //重修学生信息组件
    let restydyinfo = Vue.component('restydyinfo', {
      data:function(){
    	  return{
    		  reStudy:[],
    		  length:0,
    		  count:0,
    		  off:1,
    	  }
      },
      methods:{
    	  query:function(off){
    		  axios.get("teacher/v1/re_study/"+(off-1)*5)
    		  .then((req) => {
    			  this.reStudy=req.data;
    		  })
    	  },
    	  updatePre:function(){
    		  if(this.off>1){
    			  this.off=this.off-1;
    			  this.query(this.off);
    		  }
    	  },
    	  updateNext:function(){ 		  
    		  if(this.off<this.count){
    			  this.off=this.off+1;
    			  this.query(this.off);
    		  }
    	  },
    	  updateOff:function(n){
    		  this.off=n;
    		  this.query(this.off);
    	  }
      },
      mounted(){
    	  axios.get("/teacher/v1/getLength")
    	  .then((req) => {
    		  this.length=req.data
    		  console.log(this.length);
    		  this.count=Math.ceil(this.length/5);
    		  console.log(this.count);
    		  this.query(this.off);
    	  });
      },
      template: `
         <div>
      	 <br>
      	 <br>
      	 <h1>重修学生信息</h1>
      	 <br>
         <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col">编号</th>
             <th scope="col">学号</th>
             <th scope="col">姓名</th>
             <th scope="col">性别</th>
             <th scope="col">班级</th>
             <th scope="col">专业</th>
             <th scope="col">学院</th>
             <th scope="col">重修时间</th>
             <th scope="col">重修地点</th>
             <th scope="col">课程名称</th>
             
           </tr>
         </thead>
         <tbody>
           <tr v-for="d in reStudy" v-bind:key="d.id">
           	 <th>{{d.id}}</th>
             <th scope="row">{{d.student.id}}</th>
             <td>{{d.student.name}}</td>
             <td>{{d.student.sex}}</td>
             <td>{{d.student.clazz.name}}</td>
             <td>{{d.student.major.name}}</td>
             <td>{{d.student.major.coll.name}}</td>
             <td>{{d.address.week +"~"+ d.address.week2 +"周 星期"+ d.address.day}}</td>
             <td>{{d.address.site}}</td>
             <td>{{d.course.name}}</td>
           </tr>
         </tbody>
       </table>
       <br>
       <nav aria-label="Page navigation example">
       <ul class="pagination">
         <li class="page-item">
           <button class="page-link"aria-label="Previous" @click="updatePre">
             <span aria-hidden="true">&laquo;</span>
             <span class="sr-only">Previous</span>
           </button>
         </li>
         <li class="page-item" v-for="n in count" :key="n"><button class="page-link" @click="updateOff(n)">{{n}}</button></li>
         <li class="page-item">
           <button class="page-link" aria-label="Next" @click="updateNext">
             <span aria-hidden="true">&raquo;</span>
             <span class="sr-only">Next</span>
           </button>
         </li>
       </ul>
     </nav>
       
       
       
       
       
       
       
       
            
         </div>
      `})

    const routes = [
      { path: '', component: firstpage },
      { path: '/personinfo', component: personinfo },
      { path: '/timetables', component: timetables },
      { path: '/score', component: score },
      { path: '/restydyinfo', component: restydyinfo }
    ];

    const router = new VueRouter({
      routes
    })

    const app = new Vue({
      el: '#teacher',
      router
    })

  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>